<h3>{{ "statistics.failure_type.title" | translate }}</h3>
<ng-container [formGroup]="formGroup">
  <mat-button-toggle-group formControlName="failure_type">
    <mat-button-toggle [value]="FailureType.NONE_TECHNICAL">{{
      "statistics.failure_type.none" | translate
    }}</mat-button-toggle>
    <mat-button-toggle [value]="FailureType.Net">{{ "statistics.failure_type.net" | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="FailureType.Out">{{ "statistics.failure_type.out" | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="FailureType.Other">{{ "statistics.failure_type.other" | translate }}</mat-button-toggle>
  </mat-button-toggle-group>
</ng-container>
