@import "src/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container {
  padding: 1rem 3rem;
  height: calc(100% - 2rem);
  width: calc(100% - 6rem);
}

.filter_bar {
  display: flex;
  flex-direction: row;
}
