<form [formGroup]="formGroup" (submit)="onSubmit()">
  <h1>{{ "statistics.addServe.title" | translate }}</h1>
  <vpms-balltouch-form-field [formGroup]="formGroup"></vpms-balltouch-form-field>
  <vpms-players-form-field [formGroup]="formGroup" [players]="statisticsService.players"></vpms-players-form-field>
  <vpms-metadata-form-field [formGroup]="formGroup" [metadatas]="statisticsService.metadata"></vpms-metadata-form-field>
  <h3>{{ "statistics.addServe.serve_type" | translate }}</h3>
  <mat-button-toggle-group formControlName="serve_type">
    <mat-button-toggle [value]="ServeType.UNDERHAND">{{
      "statistics.addServe.underhand" | translate
    }}</mat-button-toggle>
    <mat-button-toggle [value]="ServeType.OVERHAND">{{ "statistics.addServe.overhand" | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="ServeType.FLOATER">{{ "statistics.addServe.floater" | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="ServeType.JUMP">{{ "statistics.addServe.jump" | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="ServeType.JUMP_FLOATER">{{
      "statistics.addServe.jump_floater" | translate
    }}</mat-button-toggle>
  </mat-button-toggle-group>
  <vpms-failure-type-form-field [formGroup]="formGroup"></vpms-failure-type-form-field>
  <vpms-target-position-form-field [formGroup]="formGroup"></vpms-target-position-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
    {{ "statistics.add" | translate }}
  </button>
  <button mat-raised-button color="primary" type="button" routerLink="/statistics/add_data">
    {{ "statistics.back" | translate }}
  </button>
</form>
