<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <mat-form-field [formGroup]="formGroup">
      <mat-select formControlName="current_rotation">
        <mat-option *ngFor="let rotation of rotations; index as i" [value]="rotation.UUID">{{
          rotation.toString()
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="onAddRotationClicked()">
      <mat-icon>add</mat-icon>
      {{ "field.add_rotation" | translate }}
    </button>
    <button mat-stroked-button (click)="onDeleteRotationClicked()">
      <mat-icon>delete</mat-icon>
      {{ "field.delete_rotation" | translate }}
    </button>
    <button mat-stroked-button (click)="onAddActorClicked()">
      <mat-icon>add</mat-icon>
      {{ "field.add_actor" | translate }}
    </button>
    <button mat-stroked-button (click)="onDeleteActorClicked()">
      <mat-icon>delete</mat-icon>
      {{ "field.delete_actor" | translate }}
    </button>
    <h1>{{ "field.subtitle.mode" | translate }}</h1>
    <button mat-stroked-button [class.toggled]="courtMode === CourtMode.MOVE_ACTOR" (click)="setMoveActorMode()">
      <mat-icon>person</mat-icon>
      {{ "field.actor_mode" | translate }}
    </button>
    <button mat-stroked-button [class.toggled]="courtMode === CourtMode.DRAW_LINE" (click)="onToggleDrawMode()">
      <mat-icon>mode_edit_outline</mat-icon>
      {{ "field.draw_mode" | translate }}
    </button>
    <button mat-stroked-button [class.toggled]="courtMode === CourtMode.ERASE_LINE" (click)="onToggleEraseMode()">
      <mat-icon>auto_fix_normal</mat-icon>
      {{ "field.erase_mode" | translate }}
    </button>
    <h1>{{ "field.subtitle.share" | translate }}</h1>
    <button mat-stroked-button (click)="onExportClicked()">
      <mat-icon>share</mat-icon>
      {{ "field.export" | translate }}
    </button>
    <button mat-stroked-button (click)="onImportClicked()">
      <mat-icon>import_export</mat-icon>
      {{ "field.import" | translate }}
    </button>
    <div style="margin-top: auto">
      <button mat-stroked-button routerLink="/statistics/dashboard">
        <mat-icon>bar_chart</mat-icon>
        {{ "home.statistics" | translate }}
      </button>
      <a href="https://github.com/Geigerkind/vb_positions" target="_blank">
        <button mat-stroked-button>
          <mat-icon>code</mat-icon>
          {{ "field.source_code" | translate }}
        </button>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()" mat-flat-button class="toggle_sidenav" [class.is_opened]="sidenav.opened">
      <mat-icon>arrow_right</mat-icon>
    </button>
    <vpms-court
      #court
      [actors]="actorShapes"
      [lines]="lineShapes"
      [courtMode]="courtMode"
      (onReady)="onCourtReady($event)"
      (onRender)="onCourtRender()"
      (onLineAdded)="onLineAdded($event)"
      (onLineErased)="onLineErased($event)"
    ></vpms-court>
  </mat-sidenav-content>
</mat-sidenav-container>
