<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav>
    <mat-form-field [formGroup]="formGroup">
      <mat-select formControlName="current_rotation">
        <mat-option *ngFor="let rotation of rotations; index as i" [value]="rotation.UUID">{{
          rotation.toString()
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button (click)="onAddRotationClicked()">
      <mat-icon>add</mat-icon>
      {{ "field.add_rotation" | translate }}
    </button>
    <button mat-stroked-button (click)="onDeleteRotationClicked()">
      <mat-icon>delete</mat-icon>
      {{ "field.delete_rotation" | translate }}
    </button>
    <button mat-stroked-button (click)="onAddActorClicked()">
      <mat-icon>add</mat-icon>
      {{ "field.add_actor" | translate }}
    </button>
    <button mat-stroked-button (click)="onDeleteActorClicked()">
      <mat-icon>delete</mat-icon>
      {{ "field.delete_actor" | translate }}
    </button>
    <button mat-stroked-button (click)="onExportClicked()">
      <mat-icon>share</mat-icon>
      {{ "field.export" | translate }}
    </button>
    <!--    <button mat-stroked-button (click)="onImportClicked()">-->
    <!--      <mat-icon>import_export</mat-icon>-->
    <!--      {{ "field.import" | translate }}-->
    <!--    </button>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()" mat-flat-button class="toggle_sidenav" [class.is_opened]="sidenav.opened">
      <mat-icon>arrow_right</mat-icon>
    </button>
    <canvas #field></canvas>
  </mat-sidenav-content>
</mat-sidenav-container>
