<form [formGroup]="formGroup" (submit)="onSubmit()">
  <h1>{{ "statistics.addToss.title" | translate }}</h1>
  <vpms-balltouch-form-field
    [formGroup]="formGroup"
    [balltouches]="statisticsService.previousBallTouches"
  ></vpms-balltouch-form-field>
  <vpms-players-form-field [formGroup]="formGroup" [players]="statisticsService.players"></vpms-players-form-field>
  <vpms-metadata-form-field [formGroup]="formGroup" [metadatas]="statisticsService.metadata"></vpms-metadata-form-field>
  <h3>{{ "statistics.addToss.toss_type" | translate }}</h3>
  <mat-button-toggle-group formControlName="toss_type">
    <mat-button-toggle [value]="TossType.SHOT">{{ "statistics.addToss.shot" | translate }}</mat-button-toggle>
    <mat-button-toggle [value]="TossType.PARABOLIC">{{ "statistics.addToss.parabolic" | translate }}</mat-button-toggle>
  </mat-button-toggle-group>
  <vpms-failure-type-form-field [formGroup]="formGroup"></vpms-failure-type-form-field>
  <vpms-target-position-form-field [formGroup]="formGroup"></vpms-target-position-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid">
    {{ "statistics.add" | translate }}
  </button>
  <button mat-raised-button color="primary" type="button" routerLink="/statistics/add_data">
    {{ "statistics.back" | translate }}
  </button>
</form>
