<ng-container [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{ "add_actor_dialog.placeholder.player_role" | translate }}</mat-label>
    <mat-select formControlName="player_role">
      <mat-option [value]="PlayerRole.Setter">{{ "add_actor_dialog.player_roles.setter" | translate }}</mat-option>
      <mat-option [value]="PlayerRole.MiddleBlocker">{{
        "add_actor_dialog.player_roles.middle_blocker" | translate
      }}</mat-option>
      <mat-option [value]="PlayerRole.Libero">{{ "add_actor_dialog.player_roles.libero" | translate }}</mat-option>
      <mat-option [value]="PlayerRole.DefensiveSpecialist">{{
        "add_actor_dialog.player_roles.defensive_specialist" | translate
      }}</mat-option>
      <mat-option [value]="PlayerRole.OutsideHitter">{{
        "add_actor_dialog.player_roles.outside_hitter" | translate
      }}</mat-option>
      <mat-option [value]="PlayerRole.OppositeHitter">{{
        "add_actor_dialog.player_roles.opposite_hitter" | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
