@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'material-icons/iconfont/material-icons.css';
@import "@fontsource/roboto/latin.css";
@import "styles/colors";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: map-get($vpms-grayscale, 0);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.mat-select-panel {
  max-height: 260px !important;
}

.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

.full-screen-dialog {
  width: 98vw;
  height: 98vh;
  max-width: 98vw !important;
  max-height: 98vh !important;
}

.full-screen-dialog mat-dialog-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw !important;
}
