<vpms-sidebar>
  <div id="container">
    <button mat-raised-button routerLink="/statistics/add_data/player">
      <mat-icon>person</mat-icon>
      {{ "statistics.addMenu.player" | translate }}
    </button>
    <button mat-raised-button routerLink="/statistics/add_data/metadata">
      <mat-icon>description</mat-icon>
      {{ "statistics.addMenu.metadata" | translate }}
    </button>
    <button mat-raised-button routerLink="/statistics/add_data/serve">
      <mat-icon>sports_handball</mat-icon>
      {{ "statistics.addMenu.serve" | translate }}
    </button>
    <button mat-raised-button routerLink="/statistics/add_data/receive">
      <mat-icon>shield</mat-icon>
      {{ "statistics.addMenu.receive" | translate }}
    </button>
    <button mat-raised-button routerLink="/statistics/add_data/toss">
      <mat-icon>sports_volleyball</mat-icon>
      {{ "statistics.addMenu.toss" | translate }}
    </button>
    <button mat-raised-button routerLink="/statistics/add_data/attack">
      <mat-icon>sports_handball</mat-icon>
      {{ "statistics.addMenu.attack" | translate }}
    </button>
    <button mat-raised-button routerLink="/statistics/add_data/block">
      <mat-icon>security</mat-icon>
      {{ "statistics.addMenu.block" | translate }}
    </button>
  </div>
</vpms-sidebar>
